/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #000
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1360px
) !default;

$favorit-font-path: '../fonts' !default;

$h: 100vh;
$medio: 50vh;
$header: 172px; //esto es el header + el margen superior + el margen inferior
$h_xl: 142px; //pantallas xl
$h_single: 112px;
$h_single_xl: 92px;//pantallas xl
$h_abajo: 52px;
$mrb: 100px; //margin para re-utilizar

//variable para el gutter en el single view
$guter: 50px;
